
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>小黄一家</string>
	<key>Backgrounds</key>
	<array>
		<string>DSC_1581.jpg</string>
		<string>DSC_1585.jpg</string>
		<string>DSC_1341.jpg</string>
		<string>DSC_1480.jpg</string>
	</array>
</dict>
</plist>
