<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://photo.yupoo.com/reminis/CWEeyNiT/12NfRQ.jpg</string>
	<string>http://photo.yupoo.com/vv314/CVAETuNx/NJ96f.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJo2gM/1QfnS.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJnIBL/Q3uc0.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJntZF/wGJjf.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJinG0/GR40.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJhTch/txRtU.jpg</string>
	<string>http://pic.yupoo.com/aladdin-lamps_v/D3mJhz9r/uYbU3.jpg</string>
</array>
</plist>
