<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>言叶之庭</string>
	<key>Backgrounds</key>
	<array>
		<string>1QfnS.jpg</string>
		<string>12NfRQ.jpg</string>
		<string>GR40.jpg</string>
		<string>NJ96f.jpg</string>
		<string>Q3uc0.jpg</string>
		<string>txRtU.jpg</string>
		<string>uYbU3.jpg</string>
		<string>wGJjf.jpg</string>
	</array>
</dict>
</plist>
